{{>head}}
{{>navbar}}

<div class="row">

    <div class="col-8">
        <h1>Daddy Yankee</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, deleniti. Veniam omnis accusantium doloribus modi mollitia, beatae asperiores magni quasi iste voluptates voluptatum. Dicta quibusdam id impedit? Inventore, distinctio accusantium.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Daddy-yankee-mundial.jpg" class="img-thumbnail">
    </div>

</div>